[Unit]
Description=Impression de stickers avec bouton(pin27)

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/stickers.local/scripts/randomprint.py

[Install]
WantedBy=multi-user.target
