<!DOCTYPE html>
<html>

<head>
  <title>stickers.local</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='fork-awesome.min.css') }}">
  <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet">
  <script>
      window.STICKER_PRINT_URL = "{{ url_for('sticker_print') }}";
      window.STICKER_DELETE_URL = "{{ url_for('sticker_delete') }}";
      window.STICKER_SEARCH_URL = "{{ url_for('search') }}";
  </script>
  <script type="module" src="{{ url_for('static', filename='app.bundle.js') }}"></script>
</head>

<body class="font-mono text-gray-700 w-fit sm:w-full" style="background-color: #fdfce3;">

  <main class="mx-auto px-3 max-w-screen-md md:max-w-screen-lg pt-5">
    {% block main %}
    {% endblock %}
  </main>

  <footer class="h-5 my-5 max-w-screen-md md:max-w-screen-lg text-center">
    <p>
      Made with <i class='text-red-500 fa fa-heart-o' aria-label='love'></i> using <a
        class='text-blue-800 dark:text-blue-400' href='https://flask.palletsprojects.com'>Flask</a> and <a
        class='text-blue-800 dark:text-blue-400' href='https://tailwindcss.com/'>TailwindCSS</a>
    </p>
  </footer>

</body>

</html>