<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fork-awesome.min.css">
<div class="relative flex flex-col text-center rounded-md">
    <button class="rounded-md absolute bottom-0 left-0 bg-blue-500 text-white pt-0.5 p-0 h-7 w-7 print">
        <i class="fa fa-print" aria-hidden="true"></i>
    </button>
    <button class="rounded-md absolute top-0 right-0 text-red-400 text-xs p-0 h-4 w-4 delete">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <img id="sticker-image" class="grow max-h-64 object-contain">
</div>